
SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/.vs/ExampleOpenClosedPrinciple/v16/.suo

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/bin/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.deps.json

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/bin/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.dll

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/bin/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.exe

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/bin/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.pdb

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/bin/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.runtimeconfig.dev.json

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/bin/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.runtimeconfig.json

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/Debug/netcoreapp3.1/apphost.exe

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.AssemblyInfo.cs

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.AssemblyInfoInputs.cache

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.assets.cache

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.csproj.CoreCompileInputs.cache

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.csproj.FileListAbsolute.txt

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.csprojAssemblyReference.cache

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.dll

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.genruntimeconfig.cache

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/Debug/netcoreapp3.1/ExampleOpenClosedPrinciple.pdb

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/ExampleOpenClosedPrinciple.csproj.nuget.dgspec.json

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/ExampleOpenClosedPrinciple.csproj.nuget.g.props

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/ExampleOpenClosedPrinciple.csproj.nuget.g.targets

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/project.assets.json

SOLID-CSharp/Open-Closed-Principle/ExampleOpenClosedPrinciple/obj/project.nuget.cache
